<?xml version="1.0" encoding="utf-8"?>
<publishData>
  <publishProfile profileName="VideoMania-AppService" publishMethod="MSDeploy" publishUrl="videomania-appservice.scm.azurewebsites.net:443" msdeployServiceUrl="https://videomania-appservice.scm.azurewebsites.net/msdeploy.axd" userName="$VideoMania-AppService" userPWD="" destinationAppUrl="https://videomania-appservice.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanel="http://windows.azure.com" webpackageFileName="ICC.AzureAppService.Demo.zip">
    <databases />
  </publishProfile>
  <publishProfile profileName="VideoMania-AppService - Zip Deploy" publishMethod="ZipDeploy" publishUrl="videomania-appservice.scm.azurewebsites.net:443" userName="$VideoMania-AppService" userPWD="" destinationAppUrl="https://videomania-appservice.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanel="http://windows.azure.com" webpackageFileName="ICC.AzureAppService.Demo.zip">
    <databases />
  </publishProfile>
</publishData>
